/******************************************
/* CSS
/*******************************************/

/* Box Model Hack */
*{
  box-sizing: border-box;
}

/******************************************
/* LAYOUT
/*******************************************/
h1, h2, form{
  text-align: center;
  font-size: 50px;
}
button{
  display: block;
  margin: 20px auto;
  font-size: 20px;
}


/******************************************
/* ADDITIONAL STYLES
/*******************************************/
